
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>



/ {
    macros {
        To0_macro: To0_macro {
            compatible = "zmk,behavior-macro";
            label = "To0_macro";
            #binding-cells = <0>;
        };

        To2_macro: To2_macro {
            compatible = "zmk,behavior-macro";
            label = "To2_macro";
            #binding-cells = <0>;
            bindings =
                <&to 2>,
                <&macro_wait_time 30>;
        };
      };


    combos {
        compatible = "zmk,combos";

        Next {
            bindings = <&mkp MB4>;
            key-positions = <37 38>;
            layers = <0 1>;
        };

        Previous {
            bindings = <&mkp MB5>;
            key-positions = <39 38>;
            layers = <0 1>;
        };

        Parenthesis_L {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <7 6>;
            layers = <0 2>;
        };

        Parenthesis_R {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <8 7>;
            layers = <0 1>;
        };

        Page_down {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <45 46>;
            layers = <0 1>;
        };

        Page_up {
            bindings = <&kp PAGE_UP>;
            key-positions = <46 47>;
            layers = <0 1>;
        };

        Hanja {
            bindings = <&kp LANG_HANJA>;
            key-positions = <24 12>;
            layers = <0 1>;
        };

        Up {
            bindings = <&kp UP_ARROW>;
            key-positions = <22 34>;
        };

        Down {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <34 46>;
        };

        Right {
            bindings = <&kp RIGHT_ARROW>;
            key-positions = <34 35>;
        };

        Left {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <33 34>;
        };

        ScrollHold {
            bindings = <&mkp SCRL>;
            key-positions = <44 45>;
            layers = <0 2>;
        };

        ScrollDrag {
            bindings = <&scroll_drag>;
            key-positions = <43 44>;
            layers = <0 1>;
        };

        ScrollLeft {
            bindings = <&msc SCRL_LEFT>;
            key-positions = <39 40>;
            layers = <0 1>;
        };

        ScrollRight {
            bindings = <&msc SCRL_RIGHT>;
            key-positions = <40 41>;
            layers = <0 1>;
        };

        ScrollClick {
            bindings = <&mkp MB3>;
            key-positions = <53 54>;
        };

        LeftShift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <27 28>;
            layers = <0 1>;
        };

        RightShift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <31 32>;
            layers = <0 1>;
        };

        Equal {
            bindings = <&kp EQUAL>;
            key-positions = <10 11>;
            layers = <0 1>;
        };
    };

    behaviors {
        lgui_hanguel: lgui_hanguel {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI_HANGUEL";
            #binding-cells = <0>;
            bindings = <&kp LGUI>, <&kp LANG_HANGEUL>;
        };
 

    scroll_drag: scroll_drag {
            compatible = "zmk,behavior-hold-tap";
            label = "SCROLL_DRAG";
            #binding-cells = <0>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mkp SCRL>, <&mkp LCLK>;
        };
    };
    

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&mt SQT ESC       &kp N1  	     &mt F2 N2     &kp N3              &kp N4             &kp N5                &kp N6        	   &kp N7     &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB           &kp Q   	     &kp W         &kp E               &kp R              &kp T            	&kp Y         	   &kp U      &kp I      &kp O    &kp P     &mt BSLH MINUS
&kp LEFT_SHIFT    &kp A   	     &kp S         &kp D               &kp F              &kp G            	&kp H         	   &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   	     &kp X         &kp C               &kp V              &kp B            	&kp N              &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                     		   &lt F_layers SPACE  &lt scroll_layers  &lgui_hanguel    	&kp LEFT_ALT       &kp DELETE
                                                         	       &mkp LCLK          &mkp RCLK        	&kp ENTER
            >;
        };

        F_layers {
            bindings = <
&mt ESC F1       &kp F2              &kp F3        &kp F4              &kp F5         &kp F6                       &kp F7                  &kp F8            &kp F9             &kp F10    &kp F11          &mt F12 BACKSPACE
&kp KP_NUMLOCK   &kp BACKSPACE       &kp N7        &kp N8              &kp N9         &mt MINUS PLUS               &kp C_VOLUME_UP         &kp HOME          &kp UP             &kp END    &kp PRINTSCREEN  &kp SCROLLLOCK
&kp K_CALC       &kp DELETE          &kp NUMBER_4  &mt LEFT_SHIFT N5   &kp NUMBER_6   &mt KP_DIVIDE KP_MULTIPLY    &kp C_VOLUME_DOWN       &kp LEFT          &kp DOWN           &kp RIGHT  &kp LS(LG(S))    &kp MINUS
&kp LCTRL        &mt CLEAR NUMBER_0  &kp NUMBER_1  &kp NUMBER_2        &kp NUMBER_3   &kp CAPSLOCK                 &kp K_MUTE         	   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp COMMA  &kp DOT          &trans
                                                   &kp SPACE           &trans         &lgui_hanguel                &kp LEFT_ALT       	   &kp DELETE
                                                                       &mkp LCLK      &mkp RCLK                    &kp ENTER
            >;
        };

        BT_layers {
            bindings = <
&trans  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans        &trans        &trans        &trans          &trans      &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_CLR_ALL  &trans        &trans        &trans        &trans          &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans        &bt BT_CLR    &trans        &trans          &bt BT_NXT  &trans  &trans  &trans  &trans  &trans
                                      &trans        &trans        &trans          &trans      &trans
                                                    &trans        &trans          &trans
            >;
        };

        scroll_layers {
            bindings = <
&trans  &kp C_TAB     &kp C_S_TAB   &kp HOME      &kp END          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp PAGE_UP   &kp PAGE_DOWN &kp UP_ARROW  &kp DOWN_ARROW   &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT      &kp RIGHT     &kp ESC       &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &mo snipe_layers &trans  &trans  &trans
                                                  &mkp LCLK        &mkp RCLK  &trans
            >;
        };

        snipe_layers {
            bindings = <
&trans  &trans      &trans       &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mkp MB3    &scroll_drag &mkp RCLK  &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp ESC     &trans       &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans       &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans     &trans     &trans    &trans  &trans
                                            &mkp LCLK  &mkp RCLK &trans
            >;
        };
    };
};
